body {
    /* background-color: black; */
    margin: 10%;
    /* padding-left: 45%; */
    /* padding-top: 15%; */
}
h2{
    padding-left: 40%;

    font-size:50px;
}
.underline {
    /* text-underline-position: auto; */
    color: blue
}

.img-container {
    padding-left:50%;
}

#info {

    padding-left :20%;
}
#author{
    padding-left:45%;
}
#job{
    padding-left:50%;

}
.button-container{
    padding-left:40%;
}