.container {
    margin: 25%;
    width: 60%;
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: azure;
    box-shadow: 0 -15px 15px rgba(232, 12, 12, 0.05), inset 0 -15px 15px rgba(15, 15, 15, 0), 0 15px 15px rgba(62, 2, 39, 0.895), inset 0 15px 15px #0113135b;
}

#btn {
    display: flexbox;
    justify-content: center;
    padding: 10px;
    background-color: rgb(231, 147, 147);
    font-style: italic;
    color: black;

}
#btn:hover{
    background-color: rgb(235, 96, 10);
    box-shadow: 0 -15px 15px rgba(232, 12, 12, 0.05), inset 0 -15px 15px rgba(221, 236, 9, 0), 0 15px 15px rgb(232, 253, 4), inset 0 15px 15px #04ebeb5b;
}

.nav-center {
    color: whitesmoke;
    background-color:transparent;
    font-size: 20px;

}

.nav-links {
    margin: auto;
    width: 25%;
    color: black;
    display: flex;
    justify-self: flex-end;
 /* justify-content: space-between; */
}
.color{
    color: rgb(13, 174, 206);
}
