

.container {

    border: 1px solid #8d0c0c;

    /* background-color: rgba(85, 243, 6, 0.973); */
    background-color: darkgreen;


    box-shadow: 10px 10px 30px 0px rgba(7, 7, 7, 0.75);

    border-radius: 20px;

    position: absolute;

    top: 55%;

    left: 50%;

    transform: translate(-50%, -50%);

    width: 450px;

    height: 400px;

}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
}

.button {
    height: 60px;
    padding: 5px;
    background-color: #12171b; ;
    border-radius: 30px;
    border: 100px;
    /* background-color: transparent; */
    font-size: 2rem;
    color: white;

    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));



    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);

    text-shadow: 0 1px rgba(255, 255, 255, .4);

}

.button:hover {

    background-color: #6ebab685;

}

.operator {

    color: rgb(207, 200, 200);

    background-color: #eebb24;

}

.clear {

    background-color: #8e15199d;

    border-color: #b0353a;


    color: #fff;

    text-align: center;
    width: 80px;
    height: 40px;
    font-size: 2rem;

}

.clear:hover {

    background-color: #f17377;

}

.equal-sign {

    background-color: #25a8e0;

    border-color: #25a8e0;

    color: #fff;

}

.equal-sign:hover {

    background-color: #065e99;

}

.screen {
    background-color: rgb(104, 106, 107);

    justify-content: left;

    color: black;

    font-size: large;

    width: 50%;

    height: 30%;

    cursor: default;

    padding: 10px;

    padding-left: 40%;

    margin: auto;

    margin-bottom: 10px;

}